common --enable_platform_specific_config

build --dynamic_mode=off

# This makes sure the x64 dlls are used on Windows ARM64
build:windows --platforms=//:x64_windows

build --experimental_convenience_symlinks=clean

test --test_output=streamed
test --nocache_test_results

# This is needed for multitool tools to run on Windows!
common --enable_runfiles


startup --windows_enable_symlinks
#common --experimental_repository_cache_hardlinks

try-import ../../top.bazelrc