name: OpenTelemetry-cpp benchmarks
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  benchmark:
    name: Run OpenTelemetry-cpp benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: 'recursive'
      - name: Mount Bazel Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        env:
          cache-name: bazel_cache
        with:
          path: /home/runner/.cache/bazel
          key: bazel_benchmark
      - name: setup
        run: |
          sudo ./ci/setup_ci_environment.sh
          sudo ./ci/install_bazelisk.sh
      - name: Run benchmark
        id: run_benchmarks
        run: |
          ./ci/do_ci.sh bazel.benchmark
          mkdir -p benchmarks
          mv api-benchmark_result.json benchmarks
          mv sdk-benchmark_result.json benchmarks
          mv exporters-benchmark_result.json benchmarks
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # main March 2025
        with:
          name: benchmark_results
          path: benchmarks
  store_benchmark:
    needs: benchmark
    permissions:
      contents: write
      deployments: write
    strategy:
      matrix:
        components: ["api", "sdk", "exporters"]
    name: Store benchmark result
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
<<<<<<< HEAD
      - uses: actions/download-artifact@f093f21ca4cfa7c75ccbbc2be54da76a0c7e1f05 # main March 2025
=======
      - uses: actions/download-artifact@f093f21ca4cfa7c75ccbbc2be54da76a0c7e1f05 # main March 2025
>>>>>>> 4d8c260423fe1383467a82281e24c84444da75b7
        with:
          name: benchmark_results
          path: benchmarks
      - name: Print json files
        id: print_json
        run: |
          cat benchmarks/*
      - name: Push benchmark result
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          name: OpenTelemetry-cpp ${{ matrix.components }} Benchmark
          tool: 'googlecpp'
          output-file-path: benchmarks/${{ matrix.components }}-benchmark_result.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: false
          gh-pages-branch: gh-pages
          benchmark-data-dir-path: benchmarks
